Repository hertzg/jsr-monorepo, changes with the labels that .github/labeler.yml gives for each.
All labels: wg-ini, wg-keys, wg-conf, mymagti-api, bx

.github/labeler.yml:

wg-ini:
  - changed-files:
      - any-glob-to-any-file: wg-ini/**
wg-keys:
  - changed-files:
      - any-glob-to-any-file: wg-keys/**
wg-conf:
  - changed-files:
      - any-glob-to-any-file: keys/**
mymagti-api:
  - changed-files:
      - any-glob-to-any-file: mymagti-api/**
bx:
  - changed-files:
      - any-glob-to-any-file: bx/**

chore(binseek): update version to 0.2.1 in import map and deno.json
  binseek/deno.json
  import_map.json
Labels: none

chore: update versions
  Releases.md
  binseek/deno.json
  binstruct/deno.json
  import_map.json
Labels: none

chore: update versions (#25)
  Releases.md
  binseek/deno.json
  binstruct/deno.json
  import_map.json
Labels: none

feat(binstruct): add support for bytes and enhance module documentation
  binstruct/bytes.test.ts
  binstruct/bytes.ts
  binstruct/deno.json
  binstruct/mod.ts
Labels: none

refactor(binstruct): rename arrayOf to arrayLP and make numeric aliases functions
  binstruct/array.test.ts
  binstruct/array.ts
  binstruct/mod.ts
  binstruct/numeric.test.ts
  binstruct/numeric.ts
  binstruct/struct.test.ts
Labels: none

refactor(binstruct): enhance array and bytes coders with context support and add new fixed-length string coder
  binstruct/array.test.ts
  binstruct/array.ts
  binstruct/bytes.test.ts
  binstruct/bytes.ts
  binstruct/mod.ts
  binstruct/numeric.ts
  binstruct/ref.ts
  binstruct/string.ts
  binstruct/struct.test.ts
  binstruct/struct.ts
Labels: none

chore(binstruct): remove unused import of RefValue from ref.ts
  binstruct/mod.ts
  binstruct/ref.test.ts
Labels: none

chore: update versions
  Releases.md
  binstruct/deno.json
  import_map.json
Labels: none

fix(binstruct): update coders to use function calls for numeric types
  binstruct/array.ts
  binstruct/bytes.ts
  binstruct/mod.ts
  binstruct/string.ts
  binstruct/struct.ts
Labels: none

fix(binstruct): update type definitions for improved type safety in array and mod modules
  binstruct/array.ts
  binstruct/mod.ts
  binstruct/ref.test.ts
Labels: none

fix(binstruct): improve bytes encoding/decoding logic to handle fixed and variable lengths correctly
  binstruct/bytes.test.ts
  binstruct/bytes.ts
  binstruct/mod.ts
  binstruct/ref.test.ts
  binstruct/ref.ts
  binstruct/string.ts
Labels: none

chore(binstruct): enhanced encoding/decoding examples
  binstruct/array.ts
  binstruct/deno.json
  binstruct/mod.ts
  binstruct/numeric.ts
  binstruct/ref.ts
  binstruct/string.ts
  binstruct/struct.ts
Labels: none

chore: update versions
  Releases.md
  binstruct/deno.json
  import_map.json
Labels: none

chore: update versions (#27)
  Releases.md
  binstruct/deno.json
  import_map.json
Labels: none

feat(binstruct): improve context handling in coders and update imports for consistency
  binstruct/array.test.ts
  binstruct/array.ts
  binstruct/bytes.ts
  binstruct/deno.json
  binstruct/length.test.ts
  binstruct/length.ts
  binstruct/mod.ts
  binstruct/numeric.test.ts
  binstruct/numeric.ts
  binstruct/ref.test.ts
  binstruct/ref.ts
  binstruct/string.ts
  binstruct/struct.ts
Labels: none

chore: update versions
  Releases.md
  binstruct/deno.json
  import_map.json
Labels: none

chore(binstruct): streamline imports in array and string modules for consistency
  binstruct/array.ts
  binstruct/string.ts
Labels: none

feat(binstruct): add computedRef function for dynamic reference calculations in encoding/decoding
  binstruct/ref.test.ts
  binstruct/ref.ts
Labels: none

refactor(binstruct): enhance formatting and type safety in computedRef function and related tests
  binstruct/ref.test.ts
  binstruct/ref.ts
Labels: none

chore: add release configuration for conventional commits to streamline versioning and release notes
  .github/release.yml
Labels: none

chore(binstruct): remove unused import of u16le from ref.ts for cleaner code
  binstruct/ref.ts
Labels: none

chore: update import versions for @std libraries to latest releases
  import_map.json
Labels: none

feat(binstruct): implement unified array coder for flexible length handling and add related tests
  binstruct/array.test.ts
  binstruct/array.ts
  binstruct/mod.ts
Labels: none

feat(binstruct): enhance string coder with automatic type selection and comprehensive tests
  binstruct/string.test.ts
  binstruct/string.ts
Labels: none

feat(binstruct): more examples
  binstruct/mod.ts
Labels: none

chore: update versions
  Releases.md
  binstruct/deno.json
  import_map.json
Labels: none

chore(binstruct): add comprehensive module documentation and examples for array, bytes, length, numeric, ref, string, and struct coders
  binstruct/array.ts
  binstruct/bytes.ts
  binstruct/length.ts
  binstruct/numeric.ts
  binstruct/ref.ts
  binstruct/string.ts
  binstruct/struct.ts
Labels: none

docs(binstruct): clarify user responsibility for buffer size in module documentation
  binseek/mod.ts
Labels: none

docs(binstruct): enhance examples with assertions for better clarity and error handling
  bx/mod.ts
Labels: bx

docs(mymagti-api): add comprehensive module documentation and usage examples for OAuth token fetching
  mymagti-api/oauth/oauth.ts
Labels: mymagti-api

docs(wg-conf): enhance module documentation with high-level helpers for parsing and stringifying WireGuard wg-quick configuration files
  wg-conf/mod.ts
Labels: none

docs(wg-ini): add high-level module documentation and usage examples for INI data parsing and stringifying utilities
  wg-ini/mod.ts
  wg-ini/sections.ts
Labels: wg-ini

chore: update versions
  Releases.md
  binstruct/deno.json
  import_map.json
  mymagti-api/deno.json
  wg-conf/deno.json
  wg-ini/deno.json
Labels: wg-ini, mymagti-api

chore: update permissions to allow writing issues
  .github/workflows/labeler.yaml
Labels: none

fix(binstruct): refactor the whole thing
  binstruct/array.ts
  binstruct/array/array.ts
  binstruct/array/conditional-while.ts
  binstruct/array/fixed-length.ts
  binstruct/array/length-prefixed.test.ts
  binstruct/array/length-prefixed.ts
  binstruct/bytes/bytes.test.ts
  binstruct/bytes/bytes.ts
  binstruct/core.ts
  binstruct/deno.json
  binstruct/length.test.ts
  binstruct/length.ts
  binstruct/mod.ts
  binstruct/numeric/numeric.test.ts
  binstruct/numeric/numeric.ts
  binstruct/ref/computed.test.ts
  binstruct/ref/ref.test.ts
  binstruct/ref/ref.ts
  binstruct/string.test.ts
  binstruct/string.ts
  binstruct/string/fixed-length.test.ts
  binstruct/string/fixed-length.ts
  binstruct/string/length-prefixed.test.ts
  binstruct/string/length-prefixed.ts
  binstruct/string/null-terminated.test.ts
  binstruct/string/null-terminated.ts
  binstruct/string/string.test.ts
  binstruct/string/string.ts
  binstruct/struct/struct.test.ts
  binstruct/struct/struct.ts
  test_type_inference.ts
  validate_computed_ref_fix.ts
Labels: none

test(binstruct): refactor string tests for clarity and consistency
  binstruct/string/fixed-length.test.ts
  binstruct/string/length-prefixed.test.ts
  binstruct/string/null-terminated.test.ts
  binstruct/string/string.test.ts
Labels: none

refactor(binstruct): export string kind symbols for fixed-length, length-prefixed, and null-terminated strings
  binstruct/string/fixed-length.ts
  binstruct/string/length-prefixed.ts
  binstruct/string/null-terminated.ts
  binstruct/string/string.test.ts
  binstruct/string/string.ts
Labels: none

refactor(binstruct): remove redundant file list from deno.json
  binstruct/deno.json
Labels: none

test(binstruct): add tests for array coders and export kind symbols
  binstruct/array/array.test.ts
  binstruct/array/fixed-length.ts
  binstruct/array/length-prefixed.ts
Labels: none

test(binstruct): add unit tests for fixed-length array coder functionality
  binstruct/array/fixed-length.test.ts
Labels: none
