Repository hertzg/jsr-monorepo, changes with the labels that .github/labeler.yml gives for each.
All labels: wg-ini, wg-keys, wg-conf, mymagti-api, bx

chore: bump binstruct to 0.1.10-pre.1+798a04f
  binstruct/deno.json
Labels: none

chore: bump binstruct to 0.1.10
  CHANGELOG.md
  binstruct/deno.json
Labels: none

chore: integrate imports directly into deno.json
  deno.json
  import_map.json
Labels: none

feat(wg-conf): enhance WireGuard configuration interfaces with detailed documentation
  wg-conf/mod.ts
Labels: none

feat(binstruct): enhance documentation with detailed comments for coders, contexts, and numeric types
  binstruct/array/array.ts
  binstruct/array/conditional-while.ts
  binstruct/array/fixed-length.ts
  binstruct/array/length-prefixed.ts
  binstruct/core.ts
  binstruct/length.ts
  binstruct/numeric/dataview.ts
  binstruct/numeric/floats.ts
  binstruct/numeric/signed.ts
  binstruct/numeric/unsigned.ts
  binstruct/ref/ref.ts
  binstruct/string/fixed-length.ts
  binstruct/string/length-prefixed.ts
  binstruct/string/null-terminated.ts
Labels: none

refactor(binseek): remove binseek module and tests; update deno.json with new lint and documentation tasks
  binseek/deno.json
  binseek/mod.test.ts
  binseek/mod.ts
  binseek/numeric.ts
  deno.json
Labels: none

feat(mymagti-api): add comprehensive documentation for OAuth types and functions
  mymagti-api/oauth/oauth.ts
Labels: mymagti-api

feat(wg-ini): enhance INI line and section handling with detailed documentation for streams and options
  wg-ini/lines.ts
  wg-ini/mod.ts
  wg-ini/sections.ts
Labels: wg-ini

feat(ref): add documentation for kIsRefValue symbol identifier
  binstruct/ref/ref.ts
Labels: none

feat: add linting and documentation tasks; update dependencies
  deno.json
Labels: none

chore: bump versions
  CHANGELOG.md
  binstruct/deno.json
  mymagti-api/deno.json
  wg-conf/deno.json
  wg-ini/deno.json
Labels: wg-ini, mymagti-api

chore: update Deno dependencies to use wildcard versions for @hertzg packages
  deno.json
Labels: none

chore: update Deno dependencies to specific versions for @hertzg packages
  deno.json
Labels: none

chore: add auto-bump task
  auto-bump.ts
  deno.json
Labels: none

.github/labeler.yml:

wg-ini:
  - changed-files:
      - any-glob-to-any-file: wg-ini/**
wg-keys:
  - changed-files:
      - any-glob-to-any-file: wg-keys/**
wg-conf:
  - changed-files:
      - any-glob-to-any-file: keys/**
mymagti-api:
  - changed-files:
      - any-glob-to-any-file: mymagti-api/**
bx:
  - changed-files:
      - any-glob-to-any-file: bx/**
