Repository hertzg/jsr-monorepo, changes with the labels that .github/labeler.yml gives for each.
All labels: wg-ini, wg-keys, wg-conf, mymagti-api, bx

chore(bx): fix module graph was expcluded error
  bx/deno.json
Labels: bx

chore(bx,mymagti-api): add to import_map.json
  import_map.json
Labels: none

chore: update versions
  Releases.md
Labels: none

feat(binseek): initial release
  binseek/deno.json
  binseek/mod.ts
  binseek/reader.ts
  binseek/seeker.ts
  binseek/writer.ts
  deno.json
  import_map.json
Labels: none

chore(binseek): format
  binseek/mod.ts
Labels: none

chore: update versions
  Releases.md
Labels: none

fix(binseek): relative imports in code
  binseek/deno.json
  binseek/reader.ts
  binseek/writer.ts
Labels: none

chore: update versions
  Releases.md
  binseek/deno.json
  import_map.json
Labels: none

feat(binseek): implement BinaryView
  binseek/deno.json
  binseek/mod.ts
  binseek/reader.ts
  binseek/seeker.ts
  binseek/util.ts
  binseek/view.test.ts
  binseek/view.ts
  binseek/writer.ts
Labels: none

chore: update versions
  Releases.md
  binseek/deno.json
  import_map.json
Labels: none

feat(binseek): improvements for the BinaryView
  binseek/view.ts
Labels: none

chore: update versions
  Releases.md
  binseek/deno.json
  import_map.json
Labels: none

feat(binseek)!: shrink the module
  binseek/deno.json
  binseek/mod.test.ts
  binseek/mod.ts
  binseek/reader.ts
  binseek/seeker.ts
  binseek/util.ts
  binseek/view.ts
  binseek/writer.ts
Labels: none

fix(binseek): fix packaging
  binseek/deno.json
  binseek/mod.test.ts
Labels: none

chore: update versions
  Releases.md
  binseek/deno.json
  import_map.json
Labels: none

chore(binseek): test overflow cases
  binseek/mod.test.ts
Labels: none

chore(binseek): format
  binseek/mod.test.ts
Labels: none

chore: update versions
  Releases.md
  binseek/deno.json
  import_map.json
Labels: none

chore: update versions (#21)
  Releases.md
  binseek/deno.json
  import_map.json
Labels: none

chore(vscode): enable deno linting and configure ts formatter
  .vscode/settings.json
Labels: none

refactor!: drop @noble/curves and node:buffer in favour of subtlecrypto and @std/encoding
  import_map.json
  wg-keys/deno.json
  wg-keys/mod.test.ts
  wg-keys/mod.ts
Labels: wg-keys

chore: update @hertzg/wg-keys to version 1.0.0
  import_map.json
Labels: none

chore(binseek): refactor code a bit
  binseek/mod.test.ts
  binseek/mod.ts
  binseek/numeric.ts
Labels: none

feat(binseek): better type support
  binseek/mod.ts
Labels: none

chore(binseek): type support
  binseek/mod.test.ts
Labels: none

feat(binseek)!: get rid of bitarray and rename .bytes() to .build()
  binseek/mod.ts
Labels: none

feat(binseek): include numeric.ts
  binseek/deno.json
Labels: none

chore(binseek): change import to type for ValueWithByteLength
  binseek/numeric.ts
Labels: none

chore(binseek): improve type definitions for get method
  binseek/mod.ts
Labels: none

chore(binseek): rename parameter in get method for clarity
  binseek/mod.ts
Labels: none

feat(binstruct): introduce binstruct
  binstruct/array.test.ts
  binstruct/array.ts
  binstruct/deno.json
  binstruct/mod.ts
  binstruct/numeric.test.ts
  binstruct/numeric.ts
  binstruct/string.test.ts
  binstruct/string.ts
  binstruct/struct.test.ts
  binstruct/struct.ts
  deno.json
  import_map.json
Labels: none

chore: update versions
  Releases.md
  binseek/deno.json
  import_map.json
Labels: none

chore: update versions (#22)
  Releases.md
  binseek/deno.json
  import_map.json
Labels: none

fix(binseek): update import paths and enhance module documentation
  binstruct/array.ts
  binstruct/mod.ts
  binstruct/string.test.ts
  binstruct/string.ts
  binstruct/struct.ts
Labels: none

chore: update versions
  Releases.md
  binseek/deno.json
  import_map.json
Labels: none

chore: update versions (#23)
  Releases.md
  binseek/deno.json
  import_map.json
Labels: none

Revert "chore: update versions (#23)"
  Releases.md
  binseek/deno.json
  import_map.json
Labels: none

Revert "chore: update versions (#23)" (#24)
  Releases.md
  binseek/deno.json
  import_map.json
Labels: none

Revert "fix(binseek): update import paths and enhance module documentation"
  binstruct/array.ts
  binstruct/mod.ts
  binstruct/string.test.ts
  binstruct/string.ts
  binstruct/struct.ts
Labels: none

fix(binstruct): update import paths and enhance module documentation
  binstruct/array.ts
  binstruct/mod.ts
  binstruct/string.test.ts
  binstruct/string.ts
  binstruct/struct.ts
Labels: none

.github/labeler.yml:

wg-ini:
  - changed-files:
      - any-glob-to-any-file: wg-ini/**
wg-keys:
  - changed-files:
      - any-glob-to-any-file: wg-keys/**
wg-conf:
  - changed-files:
      - any-glob-to-any-file: keys/**
mymagti-api:
  - changed-files:
      - any-glob-to-any-file: mymagti-api/**
bx:
  - changed-files:
      - any-glob-to-any-file: bx/**
